@page "/Events"
<h3>Component</h3>
<button class="btn btn-primary" @onclick="ClickMe">Click Me</button>
@code {
    protected override void OnAfterRender(bool firstRender)
    {
       
    }
    protected override void OnInitialized()
    {
        
    }

    void ClickMe()
    {
        
    }
}
