@page "/js"
@inject IJSRuntime jsRuntime
<h3>JS</h3>
<button class="btn btn-primary" @onclick="zeigeAlert">Zeige Alert</button><br />
<button class="btn btn-primary" @onclick="prompt">prompt</button><br/>
<button class="btn btn-primary" @onclick="jsimport">JS Import</button>
<br />


@eingabe

<script>
    window.ppedv=function()
    {
        return prompt("Test2");
    }
</script>

@code {
    string eingabe;
    void zeigeAlert()
    {
        jsRuntime.InvokeVoidAsync("alert", "Hallo aus Blazor");
    }   
     async Task prompt()
    {
        eingabe = await jsRuntime.InvokeAsync<string>("ppedv", "titel");

    }
    IJSObjectReference miniruntime;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           miniruntime=await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./components/pages/modul8/js.razor.js");
        }
    }
    async Task jsimport()
    {
      eingabe=await  miniruntime.InvokeAsync<string>("ppedvPrompt", "Hallo aus dem importierten JS-File");
    }
}
